@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    padding: 80px 0;
}

body {
    min-height: 100vw;
    overflow-x: hidden;
}




h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    /* text-align: center; */
    line-height: 1.25;
}



/*                     */
.book-card {
    padding: 2px 16px;
    border-radius: 1px black;
    background-color: lightgrey;

}